[Unit]
Description=Basecamp cloud-init server
Documentation=https://stash.us.cray.com/projects/MTL/repos/basecamp/browse
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Environment=GIN_MODE=release
ExecStartPre=/usr/sbin/basecamp-init.sh %t/%n-pid %t/%n-cid basecamp
ExecStart=/usr/bin/podman start basecamp
ExecStop=/usr/bin/podman stop --ignore -t 10 basecamp
PIDFile=%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target